<section class="TodoSection">
                <div class="TodoTitle">
                    <h2 class="TodoSection-title"> <%= section_title %> </h2>
                    <p class="TodoItem-date"> <%= todos.completed.count %> / <%= todos.count %> </p>            
                </div>
                <% todos.each do |todo| %> 
                    <ul class="TodoItem">           
                        <%= form_with(url: "/todos/#{todo.id}", method: "PUT") do %>
                            <input class="TodoItem-checkbox"
                            name="completed"
                            type="checkbox" <%= todo.completed ? "checked" : "" %>
                            onclick="this.form.submit()" />
                        <% end %>
                        <li class='<%= todo.completed ? "TodoSection-todocompleted" : "TodoSection-todo" %>'> <%= todo.todo_text %> </li>
                        <% if show_duedate %>                                 
                            <li class="TodoSection-duedate"> <%= todo.due_date.to_s(:short) %> </li>
                        <% end %>
                        <div>
                            <a class="TodoItem-delete">
                                <div>
                                    <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %> 
                                        <input type='image' src="trashbin.png" class="TrashBin"> 
                                    <% end %>
                                </div>
                            </a> 
                        </div>
                    </ul> 
                <% end %>   
              
</section>        